img {
  width: 500px;
}

#shia, #sarah, #sad {
  display: none;
  text-align: center;
  padding: 25px 0;
}

p {
  font-size: 3em;
}

#submit {
  margin-top: 20px;
}

h1 {
  text-align: center;
  padding: 10% 0;
}

h2 {

}
